.editor-wrapper {
    display: flex;
    margin: -8px;        /* Set so that the .ProseMirror padding starts from edges */
    padding: 8px;
    background: white;
    color: black;
}
@media (prefers-color-scheme: dark) {
    .editor-wrapper {
        background: black;
        color: white;
    }
}

.editor {
    min-width: 50%;
    flex: auto;
    overflow-x: hidden;
}

.htmldiv {
    display: block;
    overflow-x: hidden;
    flex: min-content;
    min-width: 0;
    max-width: 50%;
}

.htmldiv-body {
    background-color: #F8F8F8;
    padding: 8px;
    margin-left: 8px;
    white-space: pre-wrap;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
    .htmldiv-body {
        background-color: #808080;
    }
}