/* Specialized for MarkupEditor toolbar usage */
.ProseMirror-menuitem {
  vertical-align: text-top;
  padding-top: 3px;
  text-align: center;
  cursor: pointer;
  margin-right: 4px;
  display: inline-block;
  font-size: 24px;
  min-width: 31px;
  height: 28px;
  border: 1px solid black;
  fill: black;
  border-radius: 4px;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-menuitem {
    border: 1px solid white;
    fill: white;
  }
}

.ProseMirror-menuitem-active {
  background: yellow;
  border-radius: 4px;
  vertical-align: middle;
  font-size: 80%;
  padding-bottom: 3px;
}
@media (prefers-color-scheme: dark) {
   .ProseMirror-menuitem-active {
    background: red;
  }
}

/*
This is a modified version of menu.css from prosemirror-menu. By using the 
same names, we can override the defaults used there. The main changes for the 
MarkupEditor involve sizes, with the styles being referenced in toolbar.js, 
which is a replacement for menubar.ts in prosemirror-menu.
*/

.ProseMirror-menu {
  line-height: 1;
  font-size: 24px;
}

.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuseparator {
  vertical-align: bottom;
  border-right: 1px solid #ddd;
  margin-right: 4px;
  font-size: 24px;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-menuseparator {
    border-right: 1px solid gray;
  }
}

.ProseMirror-menu-dropdown, .ProseMirror-menu-dropdown-menu {
  font-size: 80%;
  text-align: left;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}

.ProseMirror-menu-dropdown-icon {
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
}

.ProseMirror-menu-dropdown-wrap {
  font-size: 80%;
  padding: 3px 8px 0 8px;
  display: block;
  height: 28px;
  position: relative;
}

.ProseMirror-menu-dropdown-icon-wrap {
  font-size: 80%;
  padding: 0 8px 3px 8px;
  display: block;
  height: 28px;
  position: relative;
}

.ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-icon:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu, .ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: gray;
  border: 1px solid lightgray;
  padding: 2px;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-menu-dropdown-menu, .ProseMirror-menu-submenu {
    background: black;
    color: lightgray;
    border: 1px solid gray;
  }
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  padding: 2px 8px 2px 4px;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-menu-dropdown-item:hover {
    background: rgb(11, 11, 11);
  }
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-disabled {
  opacity: .3;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-menu-disabled {
    opacity: .6;
  }
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu, .ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
  min-height: 1em;
  color: #666;
  padding: 4px 6px 4px;
  top: 0; left: 0; right: 0;
  border-bottom: 1px solid silver;
  background: white;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-menubar {
    background: black;
    color: lightgray;
    border-bottom: 1px solid gray;
  }
}

.ProseMirror-icon {
  display: inline-block;
  line-height: .8;
  vertical-align: -2px; /* Compensate for padding */
  padding: 2px 8px;
  cursor: pointer;
}

.ProseMirror-menu-disabled .ProseMirror-icon {
  cursor: default;
}

.ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}
@media (prefers-color-scheme: dark) {
  .ProseMirror-icon svg {
    fill: white;
    color: white;
  }
}

/*
.ProseMirror-icon span {
  vertical-align: text-top;
}
*/
